.App {
  text-align: center;
  background-image: url(./background.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 600px;
  height: 500px;
  background-color: #9eb9f4;
  margin: 0 auto;
  border: 2px solid #d6c0b600;
  border-radius: 30px 2px;
  margin-top: 25%;
}

.temp,
.description {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

.description {
  text-transform: capitalize;
}

.sentence {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  color: #ede0d7;
  font-family: "Montserrat", sans-serif;
}

.row {
  text-align-last: center;
  margin: 10px 25px;
}

.col-10,
.col-3 {
  padding: 0px;
  margin: 0 auto;
}

.col-6 {
  align-self: baseline;
}

h1 {
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 100px;
  font-weight: lighter;
  margin: 40px 20px 10px 20px;
  color: #dde4e7;
}

li {
  list-style-type: none;
  text-align: center;
  text-transform: capitalize;
  color: #f1eaea;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

input {
  text-align: center;
}

p {
  margin: 0 auto;
  font-size: 15px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
