.App {
  text-align: center;
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fd7361;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
  text-align: center;
  text-transform: capitalize;
  color: #3b86a8;
  font-weight: lighter;
}

.container {
  width: 600px;
  height: 500px;
  background-color: #d6c0b6;
  margin: 0 auto;
  border: 2px solid #d6c0b600;
  border-radius: 30px 2px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 70px;
}

h2,
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  color: #fff;
}

p {
  margin: 0 auto;
  font-size: 12px;
  font-weight: lighter;
  font-family: monospace;
  text-align: left;
  color: #3b86a8;
}
