.App {
  text-align: center;
  background-image: url(./background.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 600px;
  height: 630px;
  background-color: #9eb9f4;
  margin: 0 auto;
  border: 2px solid #d6c0b600;
  border-radius: 30px 2px;
  margin-top: 10%;
  overflow:hidden;
}

.temp,
.description {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

.description {
  text-transform: capitalize;
}

.sentence {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  color: #fffaf6;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  margin-top: 20%;
}

.row {
  margin: 10px 25px;
}

.col-10,
.col-3 {
  margin: 0 auto;
}

.col-6 {
  margin-top: 30px;
}


input:placeholder-shown {
  font-style: normal;
  font-family: "Montserrat";
}

.btn{
font-size: 15px;
color: #9eb9f4;
background-color: #ffffff;
border: 1px solid #9eb9f4;
}

h1 {
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 100px;
  font-weight: lighter;
  margin: 40px 20px 0px 20px;
  color: #e7f8ff;
}


li {
  list-style-type: none;
  text-align: left;
  text-transform: capitalize;
  color: #f1eaea;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

input {
  text-align: center;
}

p {
  margin: 0 auto;
  font-size: 15px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

