.todayDate,.todayHour{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: "Montserrat";
    font-size: 15px;
    color: black;
}

.todayDate{
    float: left;
    margin-left: 15%;
}

.todayHour{
    float: right;
    margin-right: 15%;
}

